[flake8]
max-line-length = 88
exclude = 
    .git,
    __pycache__,
    venv,
    .venv,
    migrations,
    *migrations*,
    manage.py
ignore = 
    Q000,
    F401
per-file-ignores =
    */tests/*:F401
